# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Generated data
data/processed/
data/interim/

#Raw Datasets
data/raw/

# Trained models
models/
